<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="qafactory.swaglabs.utilities.MyListener"/>
	</listeners>
	
	<test name="Test">
	 <classes>
	       <class name="qafactory.swaglabs.testCases.PositiveTestCases">
	       <methods>
          <!-- Include specific test methods here -->
          <include name="TC01_Validate_Login()" />
          <include name="TC02_Validate_Logout()" />
          
          <!-- Exclude specific test methods here -->
          <exclude name="TC03_Validate_About()" />
          </methods>
      </class>
     </classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
