<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="qafactory.swaglabs.testCases.TC001_Login_Functionality"/>
      <class name="qafactory.swaglabs.testCases.TC002_DataDriven_Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
